Repository MundoTango/replit_mundo_tango, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin, @life-ceo-team, @framework-architects, @frontend-team, @ui-designers, @backend-team, @api-architects, @database-team, @admin-team, @security-team, @compliance-team, @performance-team, @mobile-team, @documentation-team, @devops-team, @tech-leads, @project-management

Refactor admin dashboard and project tracker to align with ESA methodology
  ESA_44X21S_ADMIN_CENTER_REORGANIZATION.md
  attached_assets/targeted_element_1754141098344.png
  client/src/components/admin/Comprehensive11LProjectTracker.tsx
  client/src/components/admin/Framework44x21Dashboard.tsx
  client/src/pages/AdminCenter.tsx
  evolution/metrics/2025-08-02T13-27-40-029Z.json
  evolution/metrics/2025-08-02T13-29-11-365Z.json
Owners: @admin, @life-ceo-team, @admin-team

Enhance admin center appearance and improve setting save notifications
  ESA_44X21S_ADMIN_CENTER_UI_AUDIT.md
  client/src/pages/AdminCenter.tsx
  evolution/metrics/2025-08-02T13-35-41-939Z.json
Owners: @admin, @life-ceo-team, @admin-team

Enable image cropping on first attempt when selecting area to crop
  ESA_44X21S_PHOTO_CROPPING_FIX.md
  attached_assets/image_1754142207509.png
  attached_assets/image_1754142249550.png
  attached_assets/image_1754142364211.png
  attached_assets/image_1754142387297.png
  attached_assets/image_1754142399628.png
  attached_assets/image_1754142413106.png
  attached_assets/image_1754142428309.png
  attached_assets/image_1754142442733.png
  attached_assets/image_1754142467048.png
  attached_assets/image_1754142513808.png
  attached_assets/image_1754142549994.png
  client/src/components/ImageCropper.tsx
Owners: @admin, @life-ceo-team, @frontend-team, @ui-designers

Introduce design guidelines and a payment integration guide
  MT_OCEAN_THEME_DESIGN_SYSTEM.md
  STRIPE_INTEGRATION_GUIDE.md
  attached_assets/image_1754143856861.png
  attached_assets/image_1754143944997.png
Owners: @admin, @life-ceo-team

Add documentation outlining Stripe integration process and configuration
  ESA_44X21S_STRIPE_INTEGRATION_STATUS.md
Owners: @admin, @life-ceo-team

Analyze and report on file structure, dependencies, and potential improvements
  evolution/metrics/2025-08-02T14-19-30-201Z.json
Owners: @admin, @life-ceo-team

Enable subscription payments through Stripe and refine the admin interface
  ESA_44X21S_STRIPE_VERIFICATION_TEST.md
  evolution/metrics/2025-08-02T14-22-56-923Z.json
  replit.md
Owners: @admin, @life-ceo-team

Enable direct payments for subscription tiers within checkout flow
  ESA_44X21S_STRIPE_PAYMENT_TEST_RESULTS.md
  client/src/pages/Subscribe.tsx
  client/src/pages/Subscription.tsx
Owners: @admin, @life-ceo-team, @frontend-team

Provide clear instructions for testing the subscription payment process
  ESA_44X21S_PAYMENT_FLOW_TEST_GUIDE.md
Owners: @admin, @life-ceo-team

Add new image to enhance content display and visual appeal
  attached_assets/image_1754145040778.png
Owners: @admin, @life-ceo-team

Add a visual element to enhance the user experience and overall engagement
  attached_assets/image_1754145107923.png
Owners: @admin, @life-ceo-team

Allow users to proceed with subscription even when not logged in
  attached_assets/image_1754145289513.png
  client/src/pages/Subscribe.tsx
Owners: @admin, @life-ceo-team, @frontend-team

Revise subscription plans to meet user needs and simplify options
  attached_assets/image_1754145393326.png
  client/src/pages/Subscribe.tsx
  evolution/metrics/2025-08-02T14-46-46-805Z.json
Owners: @admin, @life-ceo-team, @frontend-team

Focus platform access to the basic subscription tier and streamline payments
  client/src/pages/Checkout.tsx
  client/src/pages/Subscribe.tsx
  evolution/metrics/2025-08-02T14-50-27-499Z.json
  server/routes.ts
  server/services/paymentService.ts
Owners: @frontend-team, @admin, @life-ceo-team, @backend-team, @api-architects

Clarify the purpose and scope of the Life CEO's 16 specialized agents
  ESA_44X21S_LIFE_CEO_16_AGENTS_SPECIFICATION.md
  replit.md
Owners: @admin, @life-ceo-team

Improve security and post creation process for users in bypass mode
  evolution/metrics/2025-08-02T14-59-16-217Z.json
  evolution/metrics/2025-08-02T15-00-14-516Z.json
  evolution/metrics/2025-08-02T15-01-07-453Z.json
  evolution/metrics/2025-08-02T15-01-38-766Z.json
  evolution/metrics/2025-08-02T15-02-19-371Z.json
  evolution/metrics/2025-08-02T15-04-09-773Z.json
  evolution/metrics/2025-08-02T15-05-10-367Z.json
  evolution/metrics/2025-08-02T15-06-45-082Z.json
  replit.md
  server/middleware/security.ts
  server/routes.ts
Owners: @admin, @life-ceo-team, @security-team, @backend-team, @api-architects

.github/CODEOWNERS:

# Global code owners for Life CEO Mundo Tango
# These users will be automatically requested for review when someone opens a pull request

# Global owners (will be requested for review on every PR)
* @admin @life-ceo-team

# Life CEO Framework and Core Architecture
/life-ceo/ @life-ceo-team @framework-architects
/44X21S_*.md @life-ceo-team
/20L_*.md @life-ceo-team
/23L_*.md @life-ceo-team

# Frontend Components and UI
/client/src/components/ @frontend-team @ui-designers
/client/src/pages/ @frontend-team
/client/src/styles/ @ui-designers

# Backend APIs and Services
/server/ @backend-team @api-architects
/shared/schema.ts @backend-team @database-team

# Admin Components and Integration
/client/src/components/admin/ @admin-team @life-ceo-team
/client/src/pages/AdminCenter.tsx @admin-team

# Authentication and Security
/auth/ @security-team @backend-team
/compliance/ @security-team @compliance-team
/server/middleware/security.ts @security-team

# Database and Storage
/database/ @database-team @backend-team
/server/storage.ts @database-team

# Performance and Optimization
/client/src/lib/performance-*.ts @performance-team @life-ceo-team
/server/services/performance*.ts @performance-team

# Mobile and Responsive
/android/ @mobile-team
/ios/ @mobile-team
/client/src/styles/mobile.css @mobile-team @ui-designers

# Documentation and Deployment
/docs/ @documentation-team
/.github/ @devops-team
/scripts/ @devops-team

# Configuration Files
package.json @tech-leads
tsconfig.json @tech-leads
vite.config.ts @frontend-team @tech-leads
drizzle.config.ts @database-team @backend-team

# JIRA Integration and Project Management
/client/src/services/jiraApiService.ts @project-management @life-ceo-team
/client/src/data/enhanced-project-data-44x21s.ts @project-management @life-ceo-team
