Repository MundoTango/replit_mundo_tango, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin, @life-ceo-team, @framework-architects, @frontend-team, @ui-designers, @backend-team, @api-architects, @database-team, @admin-team, @security-team, @compliance-team, @performance-team, @mobile-team, @documentation-team, @devops-team, @tech-leads, @project-management

Achieve full platform compliance by resolving key issues and adding translations
  client/src/i18n/config.ts
  client/src/i18n/locales/en/placeholders.json
  evolution/metrics/2025-07-31T14-55-59-343Z.json
  life-ceo/docs/ESA_COMPLETE_100_PERCENT_AUDIT.md
  life-ceo/docs/JIRA_UPDATE_LANGUAGE_100_PERCENT.md
  server/storage.ts
Owners: @admin, @life-ceo-team, @framework-architects, @database-team

Conduct comprehensive audit of the TT files to ensure design system compliance
  life-ceo/docs/ESA_TT_FILES_COMPREHENSIVE_AUDIT.md
Owners: @life-ceo-team, @framework-architects

Identify missing features and functionality gaps on the entire platform
  life-ceo/docs/ESA_PLATFORM_GAPS_ANALYSIS.md
Owners: @life-ceo-team, @framework-architects

Add data insights to optimize the project structure and improve organization
  evolution/metrics/2025-07-31T15-19-02-187Z.json
Owners: @admin, @life-ceo-team

Outline steps to finish Stripe subscription system integration
  evolution/metrics/2025-07-31T15-53-52-044Z.json
  life-ceo/docs/ESA_STRIPE_IMPLEMENTATION_REQUIREMENTS.md
Owners: @admin, @life-ceo-team, @framework-architects

Add payment and subscription features to enable financial transactions
  .replit
  evolution/metrics/2025-07-31T16-11-06-842Z.json
  evolution/metrics/2025-07-31T16-18-30-911Z.json
  evolution/metrics/2025-07-31T16-24-25-896Z.json
  evolution/metrics/2025-07-31T16-29-03-931Z.json
  evolution/metrics/2025-07-31T16-36-02-038Z.json
  evolution/metrics/2025-07-31T16-37-57-140Z.json
  evolution/metrics/2025-07-31T16-41-20-994Z.json
  package-lock.json
  package.json
  replit.md
  server/lib/feature-flags.ts
  server/routes.ts
  server/scripts/create-payment-tables.sql
  server/services/paymentService.ts
  server/storage.ts
  shared/schema.ts
Owners: @admin, @life-ceo-team, @tech-leads, @backend-team, @api-architects, @database-team

Enable users to subscribe and manage their billing information
  client/src/App.tsx
  client/src/pages/BillingDashboard.tsx
  client/src/pages/Subscribe.tsx
  evolution/metrics/2025-07-31T19-43-31-212Z.json
  evolution/metrics/2025-07-31T19-48-01-564Z.json
  evolution/metrics/2025-07-31T19-50-01-054Z.json
  replit.md
Owners: @admin, @life-ceo-team, @frontend-team

Add a checkout page that allows users to pay for subscription plans
  client/src/pages/Checkout.tsx
Owners: @frontend-team

Enable subscription management, payments, and enhanced trial experiences
  client/src/App.tsx
  client/src/components/TrialBanner.tsx
  client/src/pages/Invoices.tsx
  client/src/pages/PaymentMethods.tsx
  client/src/pages/PromoCodesAdmin.tsx
  client/src/pages/SubscriptionAnalytics.tsx
  evolution/metrics/2025-07-31T19-59-28-613Z.json
  evolution/metrics/2025-07-31T20-04-42-144Z.json
  package-lock.json
  package.json
Owners: @admin, @life-ceo-team, @frontend-team, @ui-designers, @tech-leads

Improve site structure and address mobile display issues on admin pages
  evolution/metrics/2025-07-31T21-45-38-693Z.json
Owners: @admin, @life-ceo-team

Enhance admin dashboard appearance and improve mobile user interface
  client/src/index.css
  client/src/pages/AdminCenter.tsx
  evolution/metrics/2025-07-31T21-56-20-259Z.json
Owners: @admin, @life-ceo-team, @admin-team

Improve code organization and add file system metrics for analysis
  client/src/App.tsx
  evolution/metrics/2025-08-01T10-19-35-627Z.json
Owners: @admin, @life-ceo-team

Analyze project structure and generate refactoring recommendations
  evolution/metrics/2025-08-01T13-04-55-103Z.json
Owners: @admin, @life-ceo-team

Improve platform structure and resolve issues found during video uploads
  evolution/metrics/2025-08-01T16-12-30-320Z.json
Owners: @admin, @life-ceo-team

Enable direct uploading of files to the server when creating memories
  client/src/components/memories/EnhancedMemoriesUI.tsx
  evolution/metrics/2025-08-01T16-17-38-186Z.json
Owners: @frontend-team, @ui-designers, @admin, @life-ceo-team

Improve loading speed and resource use for smoother media previews
  attached_assets/image_1754125243735.png
  client/src/components/memories/EnhancedMemoriesUI.tsx
  evolution/metrics/2025-08-01T16-23-41-854Z.json
  evolution/metrics/2025-08-02T09-00-07-070Z.json
  evolution/metrics/2025-08-02T09-02-08-299Z.json
Owners: @admin, @life-ceo-team, @frontend-team, @ui-designers

Enable users to post memories with media files from the Memories page
  attached_assets/image_1754125455520.png
  attached_assets/image_1754125467110.png
  attached_assets/image_1754125494933.png
  attached_assets/image_1754125553458.png
  attached_assets/image_1754125658356.png
  client/src/components/memories/EnhancedMemoriesUI.tsx
  client/src/pages/enhanced-timeline-v2.tsx
  evolution/metrics/2025-08-02T09-07-55-572Z.json
Owners: @admin, @life-ceo-team, @frontend-team, @ui-designers

Enhance user experience with multi-language support and visual category cues
  attached_assets/image_1754125750986.png
  attached_assets/image_1754125769235.png
  attached_assets/image_1754125843328.png
  attached_assets/image_1754125916865.png
  attached_assets/image_1754126008375.png
  attached_assets/image_1754126082935.png
  attached_assets/image_1754126168160.png
  attached_assets/image_1754126276019.png
  attached_assets/image_1754126294623.png
  client/src/App.tsx
  client/src/components/Recommendations/RecommendationsList.tsx
  client/src/components/groups/RecommendationsList.tsx
  client/src/components/universal/BeautifulPostCreator.tsx
  client/src/layouts/DashboardLayout.tsx
  client/src/lib/i18n.ts
  client/src/pages/Friends.tsx
  client/src/types/global.d.ts
  evolution/metrics/2025-08-02T09-19-45-014Z.json
  server/routes.ts
Owners: @admin, @life-ceo-team, @frontend-team, @ui-designers, @backend-team, @api-architects

Enhance profile management with travel status updates and image editing
  client/src/components/CityPicker.tsx
  client/src/components/ImageCropper.tsx
  client/src/components/profile/AddTravelDetailModal.tsx
  client/src/components/profile/EditProfileModal.tsx
  client/src/components/profile/EditTravelDetailModal.tsx
  client/src/components/profile/EnhancedProfileHeader.tsx
  client/src/components/profile/InlinePostComposer.tsx
  client/src/components/profile/TravelDetailsComponent.tsx
  client/src/pages/profile.tsx
  evolution/metrics/2025-08-02T09-30-11-376Z.json
  evolution/metrics/2025-08-02T09-35-32-153Z.json
  evolution/metrics/2025-08-02T09-42-05-950Z.json
  package-lock.json
  package.json
Owners: @frontend-team, @ui-designers, @admin, @life-ceo-team, @tech-leads

Update development process with advanced framework and agent system
  replit.md
Owners: @admin, @life-ceo-team

Clarify the systematic development framework used across the entire platform
  replit.md
Owners: @admin, @life-ceo-team

Capture learnings continuously and show them live on the admin dashboard
  client/src/components/admin/LifeCEOCommandCenter.tsx
  client/src/components/life-ceo/LifeCEOContinuousLearnings.tsx
  evolution/metrics/2025-08-02T09-59-00-413Z.json
  evolution/metrics/2025-08-02T10-00-38-210Z.json
  evolution/metrics/2025-08-02T10-02-32-161Z.json
  server/routes/lifeCeoLearnings.ts
Owners: @admin-team, @life-ceo-team, @frontend-team, @ui-designers, @admin, @backend-team, @api-architects

Provide live statistics and integrate 44x21 learning framework data
  attached_assets/image_1754129232246.png
  client/src/components/TrangoTechSidebar.tsx
  client/src/components/admin/LifeCEOCommandCenter.tsx
  client/src/components/life-ceo/LifeCEOContinuousLearnings.tsx
  evolution/metrics/2025-08-02T10-11-35-334Z.json
  evolution/metrics/2025-08-02T10-14-50-933Z.json
  evolution/metrics/2025-08-02T10-16-15-146Z.json
  server/routes/lifeCeoLearnings.ts
Owners: @admin, @life-ceo-team, @frontend-team, @ui-designers, @admin-team, @backend-team, @api-architects

Show the correct page layout for all users across the entire site
  attached_assets/image_1754130411688.png
  attached_assets/targeted_element_1754130397294.png
Owners: @admin, @life-ceo-team

Update admin center to use new CEO command center tab as default
  attached_assets/image_1754130498339.png
  client/src/pages/AdminCenter.tsx
Owners: @admin, @life-ceo-team, @admin-team

Address issues with posting, location services, and command center display
  attached_assets/image_1754130550307.png
  attached_assets/image_1754130604546.png
  attached_assets/image_1754130610740.png
Owners: @admin, @life-ceo-team

Enable location selection for posts and add bypass for easier development
  client/src/components/universal/EnhancedUniversalPostCreator.tsx
  client/src/components/universal/GoogleMapsLocationInput.tsx
  client/src/pages/AdminCenter.tsx
  server/replitAuth.ts
Owners: @frontend-team, @ui-designers, @admin-team, @backend-team, @api-architects

Improve location input and add file organization metrics for better code
  client/src/components/universal/EnhancedUniversalPostCreator.tsx
  evolution/metrics/2025-08-02T10-41-11-036Z.json
  evolution/metrics/2025-08-02T10-42-49-940Z.json
Owners: @frontend-team, @ui-designers, @admin, @life-ceo-team

Address security vulnerabilities and bring platform into compliance
  ESA_44X21S_COMPREHENSIVE_AUDIT_AUGUST_2025.md
  ESA_44X21S_CRITICAL_ACTION_PLAN_AUGUST_2025.md
  ESA_44X21S_PAYMENT_SECURITY_AUDIT_RESULTS.md
  JIRA_ESA_44X21S_EPIC_STRUCTURE.md
  replit.md
Owners: @admin, @life-ceo-team

Connect compliance data to JIRA for streamlined tracking and management
  evolution/metrics/2025-08-02T10-57-52-798Z.json
  evolution/metrics/2025-08-02T11-04-10-721Z.json
  scripts/jira-sync-cli.ts
  server/routes.ts
  server/services/jiraIntegrationService.ts
Owners: @admin, @life-ceo-team, @devops-team, @backend-team, @api-architects

Enhance payment security and compliance with ESA-44x21 regulations
  ESA_44X21S_COMPLIANCE_IMPROVEMENTS_SUMMARY.md
  ESA_44X21S_PAYMENT_SECURITY_REMEDIATION_REPORT.md
  database/migrations/apply_payment_security_rls.js
  database/security/rls_policies.sql
  docs/PAYMENT_INTEGRATION_GUIDE.md
  docs/api/payment-endpoints.yaml
  evolution/metrics/2025-08-02T11-14-53-957Z.json
  evolution/metrics/2025-08-02T11-18-53-403Z.json
  evolution/metrics/2025-08-02T11-23-49-074Z.json
  evolution/metrics/2025-08-02T11-25-28-162Z.json
  evolution/metrics/2025-08-02T11-27-42-074Z.json
  replit.md
  server/middleware/security.ts
  server/middleware/securityMiddleware.ts
  server/routes.ts
  server/services/paymentService.ts
  tests/security/paymentSecurity.test.ts
  tests/services/paymentService.integration.test.ts
  tests/services/paymentService.test.ts
Owners: @admin, @life-ceo-team, @database-team, @backend-team, @documentation-team, @security-team, @api-architects

Improve application testing and dependencies for enhanced stability
  ESA_44X21S_TEST_COVERAGE_PLAN.md
  ESA_44X21S_TEST_COVERAGE_STATUS_REPORT.md
  evolution/metrics/2025-08-02T11-35-04-178Z.json
  evolution/metrics/2025-08-02T11-45-46-001Z.json
  package-lock.json
  package.json
  tests/backend/api/events.test.ts
  tests/backend/api/groups.test.ts
  tests/backend/api/posts.test.ts
  tests/backend/auth/authentication.test.ts
  tests/backend/auth/authorization.test.ts
  tests/backend/database/storage.test.ts
  tests/backend/middleware/performance.test.ts
  tests/backend/middleware/security.test.ts
  tests/backend/services/ai.test.ts
  tests/backend/services/email.test.ts
  tests/backend/services/payment.test.ts
  tests/backend/user/userManagement.test.ts
  tests/factories/postFactory.ts
  tests/factories/userFactory.ts
  tests/frontend/components/auth/LoginForm.test.tsx
  tests/frontend/components/events/EventCard.test.tsx
  tests/frontend/components/groups/GroupList.test.tsx
  tests/frontend/components/posts/PostComposer.test.tsx
  tests/helpers/auth.ts
Owners: @admin, @life-ceo-team, @tech-leads

Improve test coverage across the platform and enhance testing setup
  ESA_44X21S_TEST_COVERAGE_PROGRESS_UPDATE_AUGUST_2.md
  evolution/metrics/2025-08-02T12-01-11-825Z.json
  evolution/metrics/2025-08-02T12-05-08-609Z.json
  tests/frontend/components/admin/AdminDashboard.test.tsx
  tests/frontend/components/maps/LocationPicker.test.tsx
  tests/frontend/components/navigation/NavBar.test.tsx
  tests/frontend/components/profile/ProfileCard.test.tsx
  tests/frontend/components/ui/UserSelector.test.tsx
  tests/frontend/hooks/useAuth.test.tsx
  tests/jest.config.js
  tests/jest.setup.js
  tests/package.json
Owners: @admin, @life-ceo-team, @tech-leads

Improve test coverage and add comprehensive frontend testing features
  ESA_44X21S_TEST_COVERAGE_PROGRESS_UPDATE_AUGUST_2.md
  evolution/metrics/2025-08-02T12-14-34-529Z.json
  tests/frontend/components/friends/FriendsList.test.tsx
  tests/frontend/components/messages/MessageThread.test.tsx
  tests/frontend/components/notifications/NotificationList.test.tsx
  tests/frontend/components/posts/PostItem.test.tsx
  tests/frontend/components/search/GlobalSearch.test.tsx
  tests/frontend/components/settings/UserSettings.test.tsx
Owners: @admin, @life-ceo-team

Improve test coverage and end-to-end testing capabilities
  ESA_44X21S_TEST_COVERAGE_PROGRESS_UPDATE_AUGUST_2.md
  evolution/metrics/2025-08-02T12-23-11-688Z.json
  evolution/metrics/2025-08-02T12-31-40-895Z.json
  tests/e2e/admin.e2e.test.ts
  tests/e2e/auth.e2e.test.ts
  tests/e2e/events.e2e.test.ts
  tests/e2e/groups.e2e.test.ts
  tests/e2e/messaging.e2e.test.ts
  tests/e2e/mobile.e2e.test.ts
  tests/e2e/playwright.config.ts
  tests/e2e/posts.e2e.test.ts
  tests/e2e/profile.e2e.test.ts
  tests/e2e/search.e2e.test.ts
  tests/frontend/components/chat/ChatWindow.test.tsx
  tests/frontend/components/events/EventDetail.test.tsx
  tests/frontend/components/groups/GroupDetail.test.tsx
  tests/frontend/components/profile/ProfileSettings.test.tsx
Owners: @admin, @life-ceo-team

Outline upcoming priorities focusing on documentation and automation
  ESA_44X21S_NEXT_PRIORITIES_AUGUST_2025.md
Owners: @admin, @life-ceo-team

Update admin center to use the new 44x21 framework and improve readability
  ESA_44X21S_ADMIN_CENTER_CLEANUP_ANALYSIS.md
  client/src/components/admin/Framework44x21Dashboard.tsx
  client/src/components/admin/LifeCEOCommandCenter.tsx
  evolution/metrics/2025-08-02T12-56-08-726Z.json
  evolution/metrics/2025-08-02T12-57-38-592Z.json
  replit.md
Owners: @admin, @life-ceo-team, @admin-team

Introduce new dashboards to monitor the platform development progress
  ESA_44X21S_ADMIN_CENTER_CLEANUP_COMPLETE.md
  client/src/components/admin/Framework35LDashboard.tsx
  client/src/components/admin/Framework40LDashboard.tsx
  client/src/components/admin/Framework40x20sDashboard.tsx
  client/src/components/admin/Framework44x21Dashboard.tsx
  client/src/components/admin/Phase44x21ValidationDashboard.tsx
  client/src/pages/AdminCenter.tsx
  evolution/metrics/2025-08-02T12-59-43-274Z.json
  evolution/metrics/2025-08-02T13-00-53-421Z.json
  evolution/metrics/2025-08-02T13-02-03-390Z.json
  evolution/metrics/2025-08-02T13-02-20-025Z.json
  evolution/metrics/2025-08-02T13-04-08-064Z.json
  replit.md
Owners: @admin, @life-ceo-team, @admin-team

Update project tracker to reflect changes in framework structure
  ESA_44X21S_RUNTIME_DEBUG_ANALYSIS.md
  client/src/components/admin/Comprehensive11LProjectTracker.tsx
  evolution/metrics/2025-08-02T13-15-31-014Z.json
  evolution/metrics/2025-08-02T13-16-54-668Z.json
Owners: @admin, @life-ceo-team, @admin-team

Fix visual errors and fully update the user interface to modern design
  attached_assets/image_1754140739371.png
  attached_assets/image_1754140767892.png
Owners: @admin, @life-ceo-team

.github/CODEOWNERS:

# Global code owners for Life CEO Mundo Tango
# These users will be automatically requested for review when someone opens a pull request

# Global owners (will be requested for review on every PR)
* @admin @life-ceo-team

# Life CEO Framework and Core Architecture
/life-ceo/ @life-ceo-team @framework-architects
/44X21S_*.md @life-ceo-team
/20L_*.md @life-ceo-team
/23L_*.md @life-ceo-team

# Frontend Components and UI
/client/src/components/ @frontend-team @ui-designers
/client/src/pages/ @frontend-team
/client/src/styles/ @ui-designers

# Backend APIs and Services
/server/ @backend-team @api-architects
/shared/schema.ts @backend-team @database-team

# Admin Components and Integration
/client/src/components/admin/ @admin-team @life-ceo-team
/client/src/pages/AdminCenter.tsx @admin-team

# Authentication and Security
/auth/ @security-team @backend-team
/compliance/ @security-team @compliance-team
/server/middleware/security.ts @security-team

# Database and Storage
/database/ @database-team @backend-team
/server/storage.ts @database-team

# Performance and Optimization
/client/src/lib/performance-*.ts @performance-team @life-ceo-team
/server/services/performance*.ts @performance-team

# Mobile and Responsive
/android/ @mobile-team
/ios/ @mobile-team
/client/src/styles/mobile.css @mobile-team @ui-designers

# Documentation and Deployment
/docs/ @documentation-team
/.github/ @devops-team
/scripts/ @devops-team

# Configuration Files
package.json @tech-leads
tsconfig.json @tech-leads
vite.config.ts @frontend-team @tech-leads
drizzle.config.ts @database-team @backend-team

# JIRA Integration and Project Management
/client/src/services/jiraApiService.ts @project-management @life-ceo-team
/client/src/data/enhanced-project-data-44x21s.ts @project-management @life-ceo-team
