Repository MundoTango/replit_mundo_tango, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin, @life-ceo-team, @framework-architects, @frontend-team, @ui-designers, @backend-team, @api-architects, @database-team, @admin-team, @security-team, @compliance-team, @performance-team, @mobile-team, @documentation-team, @devops-team, @tech-leads, @project-management

.github/CODEOWNERS:

# Global code owners for Life CEO Mundo Tango
# These users will be automatically requested for review when someone opens a pull request

# Global owners (will be requested for review on every PR)
* @admin @life-ceo-team

# Life CEO Framework and Core Architecture
/life-ceo/ @life-ceo-team @framework-architects
/44X21S_*.md @life-ceo-team
/20L_*.md @life-ceo-team
/23L_*.md @life-ceo-team

# Frontend Components and UI
/client/src/components/ @frontend-team @ui-designers
/client/src/pages/ @frontend-team
/client/src/styles/ @ui-designers

# Backend APIs and Services
/server/ @backend-team @api-architects
/shared/schema.ts @backend-team @database-team

# Admin Components and Integration
/client/src/components/admin/ @admin-team @life-ceo-team
/client/src/pages/AdminCenter.tsx @admin-team

# Authentication and Security
/auth/ @security-team @backend-team
/compliance/ @security-team @compliance-team
/server/middleware/security.ts @security-team

# Database and Storage
/database/ @database-team @backend-team
/server/storage.ts @database-team

# Performance and Optimization
/client/src/lib/performance-*.ts @performance-team @life-ceo-team
/server/services/performance*.ts @performance-team

# Mobile and Responsive
/android/ @mobile-team
/ios/ @mobile-team
/client/src/styles/mobile.css @mobile-team @ui-designers

# Documentation and Deployment
/docs/ @documentation-team
/.github/ @devops-team
/scripts/ @devops-team

# Configuration Files
package.json @tech-leads
tsconfig.json @tech-leads
vite.config.ts @frontend-team @tech-leads
drizzle.config.ts @database-team @backend-team

# JIRA Integration and Project Management
/client/src/services/jiraApiService.ts @project-management @life-ceo-team
/client/src/data/enhanced-project-data-44x21s.ts @project-management @life-ceo-team

Improve loading and address preview issues for a smoother user experience
  44X21S_PREVIEW_LOADING_DEBUG_ANALYSIS.md
  attached_assets/image_1753808723157.png
  client/src/App.tsx
  client/src/pages/PreviewTest.tsx
  evolution/metrics/2025-07-29T17-05-43-534Z.json
  evolution/metrics/2025-07-29T17-07-17-790Z.json
  server/middleware/security.ts
  server/routes.ts
Owners: @life-ceo-team, @admin, @frontend-team, @security-team, @backend-team, @api-architects

Add an AI chat feature to the sidebar for enhanced user assistance
  attached_assets/image_1753811773477.png
  client/src/components/TrangoTechSidebar.tsx
  evolution/metrics/2025-07-29T17-24-46-535Z.json
  evolution/metrics/2025-07-29T17-53-22-053Z.json
Owners: @admin, @life-ceo-team, @frontend-team, @ui-designers

Enable users to send larger messages using the AI chat functionality
  44X21S_AI_BODY_LIMIT_RESOLUTION.md
  evolution/metrics/2025-07-29T18-00-33-704Z.json
Owners: @life-ceo-team, @admin

Offer enhanced AI chat functionality with larger request limits
  44X21S_SUPABASE_AI_RESEARCH_ANALYSIS.md
  44X21S_SUPABASE_AI_SOLUTION.md
  attached_assets/image_1753812389673.png
  evolution/metrics/2025-07-29T18-10-26-790Z.json
  replit.md
Owners: @life-ceo-team, @admin

Explain strategies to circumvent Supabase AI's body limit issue
  44X21S_SUPABASE_AI_WORKAROUND_STRATEGIES.md
Owners: @life-ceo-team

Complete research and decide to stay with current database provider
  44X21S_DATABASE_PROVIDER_RESEARCH.md
  evolution/metrics/2025-07-29T18-32-43-165Z.json
  replit.md
Owners: @life-ceo-team, @admin

Resolve build error by renaming duplicate compliance variable in admin panel
  client/src/pages/AdminCenter.tsx
  evolution/metrics/2025-07-29T18-35-11-677Z.json
  evolution/metrics/2025-07-29T18-36-03-136Z.json
  replit.md
Owners: @admin-team, @admin, @life-ceo-team

Update user profile page with memories, about, travel, and friends sections
  attached_assets/image_1753814310447.png
Owners: @admin, @life-ceo-team

Enhance user profiles with details and improve information presentation
  client/src/components/profile/EnhancedProfileHeader.tsx
  client/src/components/profile/ProfileAboutSection.tsx
  client/src/pages/profile.tsx
  evolution/metrics/2025-07-29T19-07-20-829Z.json
Owners: @frontend-team, @ui-designers, @admin, @life-ceo-team

Add new image to improve user engagement on the profile page
  attached_assets/image_1753817153364.png
Owners: @admin, @life-ceo-team

Introduce new profile engagement section with achievements and challenges
  client/src/components/profile/ProfileEngagementFeatures.tsx
  client/src/pages/profile.tsx
  evolution/metrics/2025-07-29T19-31-01-796Z.json
  evolution/metrics/2025-07-29T19-33-25-615Z.json
Owners: @frontend-team, @ui-designers, @admin, @life-ceo-team

Enhance user profiles with media, experience, and engagement feature upgrades
  attached_assets/image_1753818542891.png
  client/src/pages/profile.tsx
  replit.md
Owners: @admin, @life-ceo-team, @frontend-team

Improve profile display by adding visual engagement cues and fixing icon errors
  attached_assets/image_1753818711853.png
  client/src/components/profile/ProfileEngagementFeatures.tsx
  client/src/pages/profile.tsx
  replit.md
Owners: @admin, @life-ceo-team, @frontend-team, @ui-designers

Make profile information always visible and remove unnecessary video tab
  attached_assets/image_1753819444976.png
  client/src/pages/profile.tsx
  replit.md
Owners: @admin, @life-ceo-team, @frontend-team

Enhance profile appearance with improved layout and tango-themed terms
  attached_assets/image_1753820042143.png
  attached_assets/image_1753820143427.png
  attached_assets/image_1753820151027.png
  attached_assets/image_1753820648809.png
  client/src/components/profile/EnhancedProfileHeader.tsx
  evolution/metrics/2025-07-29T20-25-11-425Z.json
  replit.md
Owners: @admin, @life-ceo-team, @frontend-team, @ui-designers

Analyze codebase structure and provide suggestions for improvements
  attached_assets/image_1753821240654.png
  evolution/metrics/2025-07-29T20-38-49-094Z.json
Owners: @admin, @life-ceo-team

Enhance profile details and engagement features for a richer user experience
  attached_assets/image_1753821726891.png
  attached_assets/image_1753822651463.png
  attached_assets/image_1753823222189.png
  attached_assets/image_1753823235213.png
  attached_assets/image_1753824099776.png
  attached_assets/image_1753824826351.png
  client/src/components/profile/AddTravelDetailModal.tsx
  client/src/components/profile/EnhancedProfileHeader.tsx
  client/src/components/profile/ProfileEngagementFeaturesSimplified.tsx
  client/src/pages/profile.tsx
  evolution/metrics/2025-07-29T21-39-42-658Z.json
  evolution/metrics/2025-07-29T21-42-14-169Z.json
  replit.md
Owners: @admin, @life-ceo-team, @frontend-team, @ui-designers

Update user profile to default to posts and fix photo uploading
  attached_assets/image_1753825819721.png
  attached_assets/image_1753825922359.png
  attached_assets/image_1753826171318.png
  client/src/pages/profile.tsx
Owners: @admin, @life-ceo-team, @frontend-team

Improve location input and profile creation across the whole platform
  client/src/components/profile/AddTravelDetailModal.tsx
  client/src/components/profile/EnhancedProfileHeader.tsx
  client/src/components/profile/ProfileAboutSection.tsx
  client/src/components/ui/LocationAutocomplete.tsx
  client/src/components/universal/BeautifulPostCreator.tsx
  client/src/pages/profile.tsx
  evolution/metrics/2025-07-29T22-04-41-194Z.json
  evolution/metrics/2025-07-29T22-07-39-960Z.json
  evolution/metrics/2025-07-29T22-08-28-661Z.json
  server/middleware/security.ts
Owners: @frontend-team, @ui-designers, @admin, @life-ceo-team, @security-team

Enable creation and management of dedicated event pages with admins
  attached_assets/image_1753827006238.png
  attached_assets/image_1753827026231.png
  attached_assets/image_1753827135066.png
  attached_assets/image_1753827236607.png
  attached_assets/image_1753827273600.png
  attached_assets/image_1753827306718.png
  attached_assets/image_1753827349927.png
  attached_assets/image_1753827389095.png
  attached_assets/image_1753827507502.png
  attached_assets/image_1753827585490.png
  attached_assets/image_1753827643963.png
  attached_assets/image_1753828529430.png
  attached_assets/image_1753828643218.png
  attached_assets/image_1753828689232.png
  attached_assets/image_1753828725641.png
  evolution/metrics/2025-07-29T22-51-39-606Z.json
  server/routes.ts
  server/storage.ts
  shared/schema.ts
Owners: @admin, @life-ceo-team, @backend-team, @api-architects, @database-team

Fix profile loading issue by updating link in the sidebar component
  attached_assets/image_1753829951429.png
  client/src/components/TrangoTechSidebar.tsx
  evolution/metrics/2025-07-29T23-00-22-471Z.json
  evolution/metrics/2025-07-29T23-01-54-617Z.json
Owners: @admin, @life-ceo-team, @frontend-team, @ui-designers

Add image assets and monitor structural integrity of the code base
  attached_assets/IMG_5840_1753859446818.png
  evolution/metrics/2025-07-29T23-24-30-657Z.json
  evolution/metrics/2025-07-30T07-09-58-060Z.json
  evolution/metrics/2025-07-30T07-20-05-294Z.json
  uploads/image-1753831526992-486209231.jpeg
Owners: @admin, @life-ceo-team

Analyze the structure of the project files and identify areas for improvement
  evolution/metrics/2025-07-30T07-40-02-197Z.json
  evolution/metrics/2025-07-30T07-41-18-195Z.json
  evolution/metrics/2025-07-30T08-55-58-283Z.json
  evolution/metrics/2025-07-30T08-56-05-279Z.json
  evolution/metrics/2025-07-30T08-57-20-344Z.json
  evolution/metrics/2025-07-30T08-57-35-994Z.json
Owners: @admin, @life-ceo-team

Remove debug information from upcoming events display on the website
  attached_assets/IMG_5840_1753867639105.png
  client/src/components/events/EventsBoard.tsx
  evolution/metrics/2025-07-30T09-26-42-498Z.json
  evolution/metrics/2025-07-30T09-29-15-217Z.json
Owners: @admin, @life-ceo-team, @frontend-team, @ui-designers

Enable users to purchase subscriptions through the website payment system
  .replit
  docs/ESA_GLOBAL_PAYMENT_PLATFORM_ANALYSIS.md
  evolution/metrics/2025-07-30T09-36-51-138Z.json
  package-lock.json
  package.json
  replit.md
  server/services/paymentService.ts
  shared/subscriptionSchema.ts
Owners: @admin, @life-ceo-team, @documentation-team, @tech-leads, @backend-team, @api-architects

Enable users to delegate event admin roles and schedule recurring events
  client/src/components/events/EventDelegationPanel.tsx
  client/src/components/events/RecurringEventManager.tsx
  evolution/metrics/2025-07-30T09-55-18-300Z.json
Owners: @frontend-team, @ui-designers, @admin, @life-ceo-team

Enable advanced event management features like recurring events
  client/src/components/events/EventDelegationPanel.tsx
  client/src/components/events/EventsBoard.tsx
  client/src/components/events/RecurringEventManager.tsx
  client/src/pages/enhanced-timeline-v2.tsx
  evolution/metrics/2025-07-30T10-03-36-911Z.json
  evolution/metrics/2025-07-30T10-15-47-532Z.json
  evolution/metrics/2025-07-30T10-17-33-547Z.json
  evolution/metrics/2025-07-30T10-18-31-539Z.json
  package-lock.json
  package.json
  replit.md
  server/emails/EventDelegationEmail.tsx
  server/emails/EventReminderEmail.tsx
  server/routes.ts
  server/routes/eventsRoutes.ts
  server/services/emailService.ts
  shared/schema.ts
Owners: @frontend-team, @ui-designers, @admin, @life-ceo-team, @tech-leads, @backend-team, @api-architects, @database-team

Ensure community groups and user posts load correctly across the platform
  evolution/metrics/2025-07-30T10-23-50-563Z.json
  evolution/metrics/2025-07-30T10-24-10-488Z.json
  evolution/metrics/2025-07-30T10-27-55-277Z.json
  evolution/metrics/2025-07-30T10-28-50-705Z.json
  replit.md
  scripts/fix-groups-visibility.sql
Owners: @admin, @life-ceo-team, @devops-team

Introduce subscription tiers, including free and paid options for users
  docs/ESA_SUBSCRIPTION_STRATEGY.md
  evolution/metrics/2025-07-30T19-08-26-020Z.json
  server/lib/feature-flags.ts
Owners: @documentation-team, @admin, @life-ceo-team, @backend-team, @api-architects

Enable admin control over subscription plans and feature assignments
  client/src/components/admin/SubscriptionManagement.tsx
  client/src/pages/AdminCenter.tsx
  docs/ESA_SUBSCRIPTION_STRATEGY.md
  evolution/metrics/2025-07-30T19-23-24-033Z.json
  evolution/metrics/2025-07-30T19-30-29-494Z.json
  evolution/metrics/2025-07-30T19-34-42-011Z.json
  replit.md
  server/routes.ts
  server/routes/subscriptionAdmin.ts
Owners: @admin-team, @life-ceo-team, @documentation-team, @admin, @backend-team, @api-architects

Enable administrators to manage user subscription plans and feature access
  client/src/pages/AdminCenter.tsx
  evolution/metrics/2025-07-30T19-42-32-761Z.json
  replit.md
Owners: @admin-team, @admin, @life-ceo-team

Achieve full functionality and resolve issues for Admin Center features
  docs/ESA_ADMIN_CENTER_CLEANUP_REPORT.md
  docs/ESA_ADMIN_CENTER_COMPREHENSIVE_AUDIT.md
  evolution/metrics/2025-07-30T19-56-41-423Z.json
  evolution/metrics/2025-07-30T20-00-29-782Z.json
  evolution/metrics/2025-07-30T20-03-30-677Z.json
  evolution/metrics/2025-07-30T20-05-42-277Z.json
  evolution/metrics/2025-07-30T20-08-39-915Z.json
  replit.md
  scripts/esa-admin-test.ts
  server/routes.ts
  server/storage.ts
Owners: @documentation-team, @admin, @life-ceo-team, @devops-team, @backend-team, @api-architects, @database-team

Show simple list of upcoming events instead of full management panel
  attached_assets/image_1753958890461.png
  client/src/pages/enhanced-timeline-v2.tsx
  docs/ESA_ADMIN_CENTER_CLEANUP_REPORT.md
  evolution/metrics/2025-07-31T09-28-12-331Z.json
  evolution/metrics/2025-07-31T10-50-38-634Z.json
Owners: @admin, @life-ceo-team, @frontend-team, @documentation-team

Update upcoming events to match the look and feel of the platform
  attached_assets/image_1753959417557.png
  attached_assets/image_1753959460640.png
  attached_assets/image_1753959531414.png
  client/src/components/feed/NewFeedEvents.tsx
  docs/ESA_ADMIN_CENTER_CLEANUP_REPORT.md
  evolution/metrics/2025-07-31T10-59-15-007Z.json
Owners: @admin, @life-ceo-team, @frontend-team, @ui-designers, @documentation-team

Enhance post creation tool and improve security with CSRF protection
  attached_assets/image_1753959691525.png
  client/src/components/universal/BeautifulPostCreator.tsx
  client/src/index.css
  client/src/lib/queryClient.ts
  server/routes.ts
Owners: @admin, @life-ceo-team, @frontend-team, @ui-designers, @backend-team, @api-architects

Improve event navigation and add thorough testing guidelines
  client/src/components/feed/NewFeedEvents.tsx
  docs/ESA_ENHANCED_METHODOLOGY_CHECKLIST.md
Owners: @frontend-team, @ui-designers, @documentation-team

Improve the loading speed and reduce unnecessary data requests for events
  client/src/components/feed/NewFeedEvents.tsx
  client/src/pages/EnhancedEvents.tsx
  client/src/pages/events.tsx
  evolution/metrics/2025-07-31T11-19-29-058Z.json
  evolution/metrics/2025-07-31T11-22-36-461Z.json
  server/routes.ts
Owners: @frontend-team, @ui-designers, @admin, @life-ceo-team, @backend-team, @api-architects

Improve file organization and code structure across the entire application
  attached_assets/IMG_5882_1753971721727.jpeg
  evolution/metrics/2025-07-31T14-19-34-951Z.json
Owners: @admin, @life-ceo-team

Enable multilingual support and translation features across the platform
  client/src/components/LanguageSelector.tsx
  client/src/i18n/config.ts
  evolution/metrics/2025-07-31T14-43-03-040Z.json
  evolution/metrics/2025-07-31T14-44-12-014Z.json
  package-lock.json
  package.json
  replit.md
  server/routes.ts
  server/services/ipLocationService.ts
  server/storage.ts
  shared/languageSchema.ts
  shared/schema.ts
Owners: @frontend-team, @ui-designers, @admin, @life-ceo-team, @tech-leads, @backend-team, @api-architects, @database-team

Enable users to change the platform's language and save preferences
  client/src/components/LanguageSelector.tsx
  life-ceo/docs/ESA_PLATFORM_AUDIT_LANGUAGE_INTEGRATION.md
Owners: @frontend-team, @ui-designers, @life-ceo-team, @framework-architects
